* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #032a52;
    color: white;
    padding: 60px;
}

:root{
    --background-color: var(--white);
    --black: #332B2B;
    --green: rgb(0, 224, 68);
    --grey: rgb(50,50,50);
    --opposite-color: var(--black);
    --orange: rgb(250, 150, 27);
    --red: rgb(250, 27, 27);
    --white: #FFFFFF;
}

/*----------------------------------------------------------------------------*/
/*   TITLE                                                                    */
/*----------------------------------------------------------------------------*/
header {
    text-align: center;
}

/*----------------------------------------------------------------------------*/
/*   FORM                                                                     */
/*----------------------------------------------------------------------------*/
form {
    font-size: 1.2rem;
    margin: 1rem;    
    text-align: center;
}

input {
    border: 0.05rem solid #fff;
    border-radius: 0.5rem;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    color: rgb(56, 55, 55);
    min-width: 200px;
    padding: 0.5rem;
    width: 20%;
}

button {
    background-color: #32c336;
    border: 0.05rem solid #fff;
    border-radius: 0.5rem;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    color: var(--white);
    padding: 0.5rem;
}

button:hover {
    background-color: #25a12a;
    cursor: pointer;
}

/*----------------------------------------------------------------------------*/
/*   LIST                                                                     */
/*----------------------------------------------------------------------------*/
#general_list {
}

.gifgrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    align-content: center;
    border-radius: 6px;
    box-shadow: 3px #1389FD;
    margin: 0px 20px 20px 0px;
    text-align: center;
    z-index: 0;
}

.card:hover {
    transform: scale(1.2);
    z-index: 1;
}

.card p{
    padding: 5px;
}

.card img {
    max-height: 170px;
}

/*----------------------------------------------------------------------------*/
/*   CATEGORY SEPARATOR                                                       */
/*----------------------------------------------------------------------------*/
.category {
    border: solid white 1px;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.category h2 {
    font-size: 2rem;
}

/*----------------------------------------------------------------------------*/
/*   ASIDE                                                                    */
/*----------------------------------------------------------------------------*/
aside {
    left: 0;
    position: fixed;
    top: 40%;
}

.social-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 2.0rem;
    z-index: 100;
}